@import '../../_setting.scss';

$appbar-bg-color: #0067a3;
$appbar-bg-color-dark: #333;

.navbar-app {
    min-width: 700px;
    height: $navbar-app-height;
    padding: 0;
    display: flex;
    align-items: center;
    color: aliceblue;
    .alien-trello-container{
        max-width: 100%;
        .app-actions {
            display: inline-flex;
            height: 100%;
            width: 100%;
            flex-direction: row;
            align-items: center;
            div.item {
                padding: 6px 10px;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 3px;
                &:not(:first-child) {
                    margin-left: 4px;
                }
                &:hover {
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.4);
                }
                &.home {
                    i {
                        font-size: 15px;
                    }
                }
            }
        }
        .center {
            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: 900;
        }
        .user-actions {
            display: inline-flex;
            height: 100%;
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            .dropdown {
                margin-right: 10px;
                border-radius: 5px;
                &:hover {
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.4);
                    border: none;
                }
                .dropdown-btn {
                    height: 37px;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.3);
                    &:after{
                        content: '';
                        border: none;
                    }
                    .name-user {
                        margin: 0 0 0 5px;
                    }
                }
            }
        }
    }
}