@import '_setting.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

.auth-master {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    //background: linear-gradient(120deg,#2980b9, #8e44ad);
    background-image: url(https://img.freepik.com/free-vector/cosmic-background-alien-planet-deserted-landscape-with-mountains_107791-6400.jpg?w=2000);
    height: 100vh;
    overflow: hidden;
}

