@import '_setting.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

.auth-master {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: url("../../assets/image/bgimg.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

