@import '_setting.scss';

.my-card {
    max-width: 15rem;
    margin-top: 1rem;
    position: relative;
    .card-body{
        height: 3rem;
        .card-title {
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            .board-title {
                background-color: inherit;
                border: none;
                font-size: inherit;
                font-weight: inherit;
                text-align: center;
            }
        }
        .dropdown {
            position: absolute;
            top : 0;
            right: 0;
            .dropdown-btn {
                height: 32px;
                // height: 25px;
                // width: 25px;
                padding: 0 $gap;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1px;
                background-color: inherit;
                border: none;
                color: $app-main-text-color;
                &:after{
                    content: '...';
                    border: none;
                    vertical-align: 1.255em;
                }
                &:hover{
                    background-color: darken($color: $column-bg-color, $amount: 10);
                    border-color: darken($color: $column-bg-color, $amount: 10);
                }
            }
        }
    }   
}
.update-board-modal{
    img{
        width: 100px;
        margin: 8px;
        cursor: pointer;
        &:hover {
            border: 5px solid red;
        }
    }
}